<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.model.dto.DiagnosisDto" alias="diagnosisDto"/>
		<typeAlias type="com.model.dto.PayHistoryDto" alias="payHistoryDto"/>
		<typeAlias type="com.model.dto.PayMethodDto" alias="payMethodDto"/>
		<typeAlias type="com.model.dto.VBookDto" alias="vBookDto"/>
		<typeAlias type="com.model.dto.VetDto" alias="vetDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mybatis/board-mapper.xml" />
	</mappers>
</configuration>  
